// layout of the form
.explorer {
  text-align: center;
  @include bg-text-color(color-text-lighter);
  @include set-padding(section);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    margin-bottom: 1rem;
    // typo ??
    font-size: 3rem;
  }
  &__btn {
    margin-top: 3rem;
    //   partie à placer dans un composant (et une mixin?)    
  }
}