/* footer layout */
.footer {
  @include bg-text-color(color-text-dark);
  @include set-padding(footer);
  &__heading {
    font-family: "Shrikhand", sans-serif;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  /* footer's list items styling */
  &-li {
    margin-bottom: 0.75rem;
    @include before-content($footer__link-before-content);
    &--icon::before {
      @include fontawesome;
      // @include icon-size(footer);
      display: inline-block;
      width: 3rem;
      text-align: center;
    }
    &__link {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}