.footer {
  @include bg-text-color(color-text-dark);
  @include set-padding(footer);
  &__heading {
    font-family: "Shrikhand", sans-serif;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  &__link {
    color: inherit;
    // position: relative;
    @include before-content($footer__link-before-content);
    &--icon::before {
      @include fontawesome;
      // position: absolute;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
