.main-section {
  @include bg-text-color(color-text-lighter);
  @include set-padding(section);
  display: flex;
  flex-direction: column;
  // add in a variable
  gap: 3rem;
  @include responsive($breakpoint-medium) {
    flex-flow: row wrap;
    // justify-content: space-between;
    gap: 3vw;
  }
  @include responsive($breakpoint-medium) {
    @include set-padding(section-large);
  }
  &__heading {
    width: 100%;
  }
  &__link {
    display: flex;
    justify-content: center;
    @include responsive($breakpoint-medium) {
      flex: 1 1 47%;
      max-width: 45.5vw;
    }
    @include responsive($breakpoint-larger){
      flex: 1 1 22.5%;
    }
  }
}
