.research {
    text-align: center;
    @include bg-text-color(color-text-light);
    &:focus-within {
      @include bg-text-color(color-primary-light);
      > .research__label {
        color: $color-primary;
      }
    }
    &__label {
      &::before {
        content: "\f3c5";
        @include fontawesome(bold);
        // position: relative;
      }
    }
    &__input {
      // @include bg-text-color(color-text-light);
      width: 18ch;
      border: none;
      background: none;
      line-height: 5rem;
      text-align: center;
      font-weight: 700;
      &:focus-visible {
        outline: none;
      }
      
    }
  }