.card {
  border-radius: 2rem;
  overflow: hidden;
  background: white;
  &--restaurent {
    display: grid;
    grid-template-columns: 1fr 8rem;
    grid-template-rows: clamp(7rem, 7rem + 25vw, 27rem) repeat(2, 1fr);
    grid-template-areas:
      "img img"
      "heading aside"
      "txt aside";
    // mixin
    box-shadow: 0.75rem 0.75rem 1.5rem change-bg-color(color-text-light);
  }
  &--new::before {
    grid-area: img;
    justify-self: right;
    position: relative;
    right: 2rem;
    top: 2rem;
    padding: 1rem;
    width: calc(2rem+7ch);
    height: 4rem;
    content: "Nouveau";
    color: darken($color-tertiary, 30%);
    font-weight: bold;
    background: $color-tertiary;
    z-index: 2;
  }
  &__img {
    grid-area: img;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      z-index: 1;
      height: clamp(7rem, 7rem + 25vw, 27rem);
    }
  }
  &__heading {
    grid-area: heading;
    padding: 1.5rem 0 0 2rem;
  }
  &__text {
    grid-area: txt;
    padding: 0.5rem 0 0 2rem;
  }
  &__aside {
    grid-area: aside;
    align-self: center;
    justify-self: center;
    position: relative;
    &::before {
      content: "\f004";
      @include fontawesome(normal);
      // a inclure dans la palette de typo
      font-size: map-get($icons-size, cards);
      opacity: 1;
      // faire une mixin couplée à une map ?
      transition: opacity $transition-duration;
    }
    &::after {
      content: "\f004";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      // a inclure dans la palette de typo
      font-size: map-get($icons-size, cards);
      @include position_absolute;
      background: linear-gradient(
        0deg,
        $color-secondary 0%,
        $color-primary 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      opacity: 0;
      transition: opacity $transition-duration;
    }
    &:hover {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}
