.card {
  // the fisrt 3 are shared with dish component
  border-radius: 2rem;
  overflow: hidden;
  background: white;
  display: grid;
  grid-template-columns: 1fr 8rem;
  grid-template-rows: clamp(7rem, 7rem + 25vw, 27rem) repeat(2, 1fr);
  grid-template-areas:
    "img img"
    "heading aside"
    "txt aside";
  // mixin ??
  box-shadow: 0.75rem 0.75rem 1.5rem change-bg-color(color-text-light);
  &--new::before {
    grid-area: img;
    justify-self: right;
    position: relative;
    right: 2rem;
    top: 2rem;
    content: "Nouveau";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em;
    max-height: 2.25em;
    border-radius: 0.2em;
    color: darken($color-tertiary, 35%);
    font-weight: bold;
    background: $color-tertiary;
    z-index: 2;
  }
  &__img {
    grid-area: img;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      z-index: 1;
      height: clamp(7rem, 7rem + 25vw, 27rem);
    }
  }
  &__heading {
    grid-area: heading;
    padding: 1.5rem 0 0 2rem;
  }
  &__text {
    grid-area: txt;
    padding: 0.5rem 0 0 2rem;
  }
  &__aside {
    grid-area: aside;
    align-self: center;
    justify-self: center;
    @include heart-styling;
  }
}
