// animation for dishes entrence
@keyframes entrence {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
// dish styling
.dish {
  @include cards-base(1.5rem);
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  @include entrence;
  &__article {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem;
    > h3 {
      margin-bottom: 0.5rem;
      @extend %hide-mode;
    }
    > p {
      @extend %hide-mode;
    }
  }
  &__price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
    font-weight: bold;
  }
  // aside is not visible by default and appear when dish is hovered
  &__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: $check-side-size;
    @include bg-text-color(color-tertiary);
    margin-right: -$check-side-size;
    transition: all $dish-anim-dur $dish-rot-delay linear;
    &::after {
      content: "\f058";
      @include fontawesome(bold);
      @include icon-size(steps);
      transform: rotate(90deg);
      transition: all $dish-anim-dur - $dish-rot-delay 2 * $dish-rot-delay
        ease-out;
    }
  }
  &:hover {
    > .dish__aside {
      margin-right: 0rem;
      &::after {
        transform: rotate(360deg);
      }
    }
  }
}
