// to move in variable
$dish-anim-dur: 500ms;
$dish-rot-delay: 200ms;
$check-side-size: 6rem;

@keyframes entrence {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
$entrence_nb: 10;
$entrence_nb_dur: 1000ms;
$entrence_nb_delay: $entrence_nb_dur * 0.2;
@mixin entrence {
  animation: entrence $entrence_nb_dur both;
  @for $i from 1 through $entrence_nb {
    &--#{$i} {
      animation-delay: $entrence_nb_delay * $i;
    }
  }
}

// dish styling
.dish {
  border-radius: 1.5rem;
  overflow: hidden;
  // to oiptimise
  background: white;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  @include entrence;
  &__article {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem;
    > h3 {
      overflow: inherit;
      text-overflow: ellipsis;
      margin-bottom: 0.5rem;
    }
  }
  &__price {
    display: flex;
    // width: $check-side-size;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
    font-weight: bold;
  }
  &__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: $check-side-size;
    @include bg-text-color(color-tertiary);
    margin-right: -$check-side-size;
    transition: all $dish-anim-dur $dish-rot-delay linear;
    &::after {
      content: "\f058";
      @include fontawesome(bold);
      font-size: map-get($map: $icons-size, $key: steps);
      transform: rotate(90deg);
      transition: all $dish-anim-dur - $dish-rot-delay 2*$dish-rot-delay ease-out;
    }
  }
  &:hover {
    > .dish__aside {
      margin-right: 0rem;
      &::after {
        transform: rotate(360deg);
      }
    }
  }
}
