/* animation fo the loader to spin */
@keyframes loading-spiner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* animation for the loader to disapear */
@keyframes loading-disapear {
  to {
    opacity: 0;
    z-index: -1;
  }
}
/* loading spinner styling */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  @include bg-text-color(color-primary-lighter);
  animation: loading-disapear $loading-dur 3 * $loading-dur forwards;
  z-index: 10;
  &__ball {
    position: fixed;
    width: $load-size;
    height: $load-size;
    border-radius: 50%;
    overflow: hidden;
    @include ball-positions-scale;
    &::after {
      content: "";
      position: absolute;
      width: $load-size;
      height: $load-size;
      border-radius: 50%;
      background: $color-primary;
      opacity: 0;
      animation: loading-spiner $loading-dur 4 linear;
    }
    @for $i from 1 through $loading-nb {
      &--#{$i}::after {
        $j: -1 + $i;
        animation-delay: $j * $loading-dur/$loading-nb;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: $load-size;
      height: $load-size;
      border-radius: 50%;
      background: $color-tertiary;
    }
  }
}
