.restaurant {
  @include cards-base(2rem);
  display: grid;
  grid-template-columns: 1fr 8rem;
  grid-template-rows: clamp(7rem, 7rem + 25vw, 27rem) repeat(2, 1fr);
  grid-template-areas:
    "img img"
    "heading aside"
    "txt aside";
  max-width: 65rem;
  &--new::before {
    grid-area: img;
    justify-self: right;
    position: relative;
    right: 2rem;
    top: 2rem;
    content: "Nouveau";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em;
    max-height: 2.25em;
    border-radius: 0.2em;
    color: darken($color-tertiary, 35%);
    font-weight: bold;
    background: $color-tertiary;
    z-index: 2;
  }
  &__img {
    grid-area: img;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center 60%;
      z-index: 1;
      height: clamp(7rem, 7rem + 25vw, 27rem);
    }
    // invisible background by default, visible when card is hovered
    &::after {
      content: "";
      @include position_absolute;
      background: radial-gradient(
        circle,
        transparent 0%,
        rgba(2, 0, 36, 1) 100%
      );
      opacity: 0;
      transition: opacity $transition-duration;
    }
  }
  &:hover {
    > .restaurant__img::after {
      opacity: 0.15;
    }
  }
  &__heading {
    grid-area: heading;
    padding: 1.5rem 0 0 2rem;
  }
  &__text {
    grid-area: txt;
    padding: 0.5rem 0 0 2rem;
  }
  &__aside {
    width: 100%;
    grid-area: aside;
    align-self: center;
    justify-self: center;
    text-align: center;
    @include heart-styling;
  }
}
