/* removing all default margin and padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // 10px div by def of 16px
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* changing box-sizing */ 
body {
  box-sizing: border-box;
}
/* removing default ancre styling */ 
a {
  text-decoration: none;
  color: $color-text;
}
/* setting ul list style */ 
ul {
  list-style: none;
}
button {
  border: none;
}