// styling 
.dishes {
    width: 100%;
  &__heading {
    width: 4.5ch;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: $color-tertiary solid 0.5rem;
    padding-bottom: .5rem;
    font-size: 1.8rem;
    
  }
}
// to move in a component
.dish {
  border-radius: 2rem;
  overflow: hidden;
  background: white;
  margin-top: 1rem;
}
