.restaurent-img {
  width: 100%;
  img {
    width: 100%;
    height: 36.5rem;
    object-fit: cover;
  }
}
.menu {
  @include bg-text-color(color-text-lighter);
  @include set-padding(section);
  border-radius: 5rem;
  position: relative;
  bottom: 8rem;
  &__heading {
    font-family: "Shrikhand", sans-serif;
    font-weight: 100;
    display: inline-block;
    width: 85%;
    // a modifier pour intégrer du responsive
    font-size: 2.4rem;
  }
  // part to include the heart and its animation
  &__heart {
    display: inline-block;
    @include heart-styling;
  }
  &__btn {
    margin: auto;
  }
}
