.restaurent-img {
  position: relative;
  width: 100%;
  height: clamp(12rem, 6rem + 35vw, 30rem);
  z-index: -1;
  display: flex;
  align-items: flex-start;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.menu {
  @include bg-text-color(color-text-lighter);
  @include set-padding(section);
  border-radius: 4.5rem 4.5rem 0 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: clamp(3rem, 1rem+4vw, 6rem) repeat(3, 1fr) 10rem;
  grid-template-areas:
    "heading "
    "dishes--1"
    "dishes--2"
    "dishes--3"
    "btn";
  grid-row-gap: 3rem;
  @include responsive($breakpoint-big) {
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: clamp(3rem, 1rem+4vw, 6rem) 1fr 10rem;
    grid-template-areas:
      "heading heading heading"
      "dishes--1 dishes--2 dishes--3"
      "btn btn btn";
    grid-column-gap: 3vw;
  }
  &__heading {
    grid-area: heading;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--text {
      font-family: "Shrikhand", sans-serif;
      font-weight: 100;
      font-size: clamp(2.2rem, 1.25rem + 3.25vw, 4rem);
    }
    &--heart {
      display: flex;
      padding-right: 10%;
      @include heart-styling;
    }
  }
  // part to include the heart and its animation
  &__section {
    @for $i from 1 through 3 {
      &--#{$i} {
        grid-area: dishes--#{$i};
      }
    }
    > h2 {
      width: 4.5ch;
      text-transform: uppercase;
      font-weight: 400;
      border-bottom: $color-tertiary solid 0.5rem;
      padding-bottom: 0.5rem;
      font-size: inherit;
    }
  }
  &__btn {
    grid-area: btn;
    margin: auto;
  }
}
