// colors definition
$color-primary: hsl(267, 66%, 60%);
$color-secondary: hsl(317, 100%, 74%);
$color-tertiary: hsl(165, 56%, 74%);
$color-text: #000000;
// variable pour la taille du aside des steps
$step__aside-size: 2.5rem;

$icons-size: (
  steps: 2rem,
  cards: 3rem,
);
$transition-duration: 300ms;

// padding dimensions storage
// $padding-unit:1rem; to be uses later when all padding are defined
$padding-dimensions: (
  section: 4rem 2rem,
  button: 1.5rem 2em
);

// map for background lightening to be used un a mixin with a function for text color
$bg-color-styles: (
  color-text-lighter: (
    color: $color-text,
    lighten: 95%,
  ),
  color-text-light: (
    color: $color-text,
    lighten: 90%,
  ),
  color-text-dark: (
    color: $color-text,
    lighten: 20%,
  ),
  color-primary-light: (
    color: $color-primary,
    lighten: 35%,
  ),
  color-primary: (
    color: $color-primary,
    lighten: 0%,
  ),
);

$step-before-content: (
  phone: "\f3cd",
  list: "\f03a",
  store: "\f54e",
);
