// colors definition
$color-primary: #9256dc;
$color-secondary: #ff7ad9;
$color-tertiary: #98e2cf;
$color-text: #000;
$color-bg:#fff;
// variable pour la taille du aside des steps
$step__aside-size: 2.5rem;

$icons-size: (
  steps: 2rem,
  cards: 3rem,
  footer:1.5rem
);
$transition-duration: 300ms;

// padding dimensions storage
// $padding-unit:1rem; to be uses later when all padding are defined
$padding-dimensions: (
  section: 4rem 2rem 5rem 2rem,
  section-large: 4rem 3vw 6rem 3vw,
  footer: 2rem 2rem,
  button: 1em 1.5em,
);

// map for background lightening to be used un a mixin with a function for text color
$bg-color-styles: (
  color-text-lighter: (
    color: $color-text,
    lighten: 96%,
  ),
  color-text-light: (
    color: $color-text,
    lighten: 90%,
  ),
  color-text-dark: (
    color: $color-text,
    lighten: 20%,
  ),
  color-primary-light: (
    color: $color-primary,
    lighten: 35%,
  ),
  color-primary-lighter: (
    color: $color-primary,
    lighten: 38%,
  ),
  color-primary: (
    color: $color-primary,
    lighten: 0%,
  ),
  color-tertiary: (
    color: $color-tertiary,
    lighten: 0%,
  )
);
// incons codes for steps
$step-before-content: (
  phone: "\f3cd",
  list: "\f03a",
  store: "\f54e",
);
// icons codes for footer links
$footer__link-before-content: (
  utensils: "\f2e7",
  handshake: "\f4c4",
);
// breakpoints
$breakpoint-medium:680px;
$breakpoint-big:1024px;
$breakpoint-larger:1650px;